In [6]:
import pandas as pd

In [7]:
detected_data = pd.read_csv('result/detected_data.csv', index_col=0)
detected_data

,1,2,3
0,,,
1,0.033333,"{'chair', 'person'}","{'person': [array([ 852.6, 492.84, ..."
2,0.066667,"{'chair', 'person'}","{'person': [array([ 851.51, 490.66, ..."
3,0.100000,"{'chair', 'person'}","{'person': [array([ 851.67, 490.86, ..."
4,0.133333,"{'chair', 'person'}","{'person': [array([ 851.63, 489.55, ..."
5,0.166667,"{'chair', 'person'}","{'person': [array([ 851.7, 489.01, ..."
...,...,...,...
5192,173.066667,"{'backpack', 'chair', 'person', 'car'}","{'person': [array([ 956.16, 301.16, ..."
5193,173.100000,"{'backpack', 'chair', 'person', 'car'}","{'person': [array([ 129.94, 126.29, ..."
5194,173.133333,"{'backpack', 'chair', 'person', 'car'}","{'person': [array([ 955.3, 309.95, ..."
5195,173.166667,"{'car', 'backpack', 'chair', 'person'}","{'person': [array([ 133.21, 124.49, ..."
5196,173.200000,"{'backpack', 'chair', 'person', 'car'}","{'person': [array([ 133.41, 124.47, ..."

In [5]:
pos_est_data = pd.read_csv('result/pos_est_data.csv', index_col=0)
pos_est_data

               1                                                  2
0
1       0.033333  [[     1002.5      663.66]\n [     989.18     ...
2       0.066667  [[       1013      678.22]\n [     996.05     ...
3       0.100000  [[     1033.2      691.55]\n [       1011     ...
4       0.133333  [[     1020.5      678.05]\n [     1001.2     ...
5       0.166667  [[     1015.9       672.3]\n [     997.87     ...
...          ...                                                ...
5192  173.066667  [[     1289.4      608.23]\n [     1278.4     ...
5193  173.100000  [[     1293.4       593.5]\n [     1284.4     ...
5194  173.133333  [[     1293.4      589.21]\n [     1283.7     ...
5195  173.166667  [[     1283.8      588.63]\n [     1274.6     ...
5196  173.200000  [[     1294.3      575.75]\n [     1283.1     ...

[5196 rows x 2 columns]