In [1]:
import pandas as pd

In [2]:
detected_data = pd.read_csv('result/detected_data.csv', index_col=0)
detected_data

,Time,Objects_class,Position
Frame_id,,,
1,0.083333,{'cell phones'},"{'cell phones': [array([ 346.82, 337..."
2,0.166667,{'cell phones'},"{'cell phones': [array([ 347.07, 337...."
3,0.250000,{'cell phones'},"{'cell phones': [array([ 347.21, 337...."
4,0.333333,{'cell phones'},"{'cell phones': [array([ 347.14, 336...."
5,0.416667,{'cell phones'},"{'cell phones': [array([ 347.23, 336...."
...,...,...,...
5192,432.666667,{'cell phones'},"{'cell phones': [array([ 1626.2, 131..."
5193,432.750000,{'cell phones'},"{'cell phones': [array([ 1626.4, 131...."
5194,432.833333,{'cell phones'},"{'cell phones': [array([ 1626.4, 131...."
5195,432.916667,{'cell phones'},"{'cell phones': [array([ 1626.4, 130...."
5196,433.000000,{'cell phones'},"{'cell phones': [array([ 1626.4, 131...."

In [12]:
pos_est_data = pd.read_csv('result/pos_est_data.csv', index_col=0)
pos_est_data

                Time                                          Keypoints
Frame_id
1           0.083333  [[     1002.5      664.05]\n [      989.2     ...
2           0.166667  [[       1013      678.29]\n [     996.05     ...
3           0.250000  [[     1033.1      691.59]\n [       1011     ...
4           0.333333  [[     1020.5      678.32]\n [     1001.3     ...
5           0.416667  [[     1015.9      672.63]\n [     997.95     ...
...              ...                                                ...
5192      432.666667  [[     1283.9      603.65]\n [     1275.1     ...
5193      432.750000  [[     1293.5      593.57]\n [     1284.5     ...
5194      432.833333  [[     1293.4      589.28]\n [     1283.7     ...
5195      432.916667  [[     1283.9      588.66]\n [     1274.6     ...
5196      433.000000  [[     1294.3      575.87]\n [     1283.1     ...

[5196 rows x 2 columns]

In [25]:
pos_est_data.loc[2188]

Time                                                182.333333
Keypoints    [[     1447.2      654.17]\n [     1447.8     ...
Name: 2188, dtype: object

In [28]:
point_n = set()
for i, point in enumerate(pos_est_data.Keypoints.values):
    point = point.split('\n')
    point_n.add(len(point))
    if len(point) == 1:
        print(i)

2188
2189
2190
2191
2192
2193

In [22]:
point_n

{1, 17}